# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
.DS_Store

# ⚠️ Si vas a subir esto a un repositorio PÚBLICO, considera no exponer tu API key.
